@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;700;800&family=Fira+Sans:wght@300;400;700&display=swap');

body, input {
    font-family: 'Fira Sans', sans-serif;
    font-size: 11pt;
}

.btn-primary {
  background-color: #9BAD09;
  border-color: #626F06

}

.btn-primary:hover {
  background-color: #626F06
}

.shiny-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 250px;
  margin-top: -100px;
  margin-left: -125px;
}

.highcharts-anchor {
  fill: blue;
  color: blue;
}

.progress-bar {
  background-color: #9BAD09
}
