
.btn-primary {
  background-color: #9BAD09;
  border-color: #626F06
  
}

.btn-primary:hover {
  background-color: #626F06
}

.shiny-notification {
  position: fixed; 
  top: 50%;
  left: 50%;  
  width: 250px; 
  margin-top: -100px;
  margin-left: -125px;
}
  
.progress-bar {
  background-color: #9BAD09
} 